<html>
    <body>
        <center>
            <h1> Iris Flower Classification </h1><br>
            
            <form method="POST", action="/predict">
                <b> Sepal Length : <input type="text", name='sepal_length', placeholder="Enter Value "> <br>
                    Sepal Width : <input type="text", name='sepal_width', placeholder="Enter Value "> <br>
                    Petal Length : <input type="text", name='petal_length', placeholder="Enter Value "> <br>
                    Petal Width : <input type="text", name='petal_width', placeholder="Enter Value "> <br><br><br></b>
                        <input type="submit" , value='Predict' >
            </form>
            
        </center>
        
    </body>
</html>    